body {
    background-color:aliceblue;
}



header {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
  }



.logo {
    height: 150px;
    width: 150px;
    order: -1;
    margin: 1px;
  }
  

  .nav_links {
    list-style: none;
  }
  
  .nav_links li {
    display: inline-block;
    padding: 0px 20px;
  }
  
  .nav_links li a {
    transition: all 0.3 ease 0s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .nav_links li a:hover {
    color: #525050;
  }

  .titre {
      font-size: 60px;
      font-family: Stencil Std, fantasy;
      

  }

.principal{
    text-align: center;
}

.principal .en_gros{
     text-align: left;
     font-size: 35px;
 }


 .principal .raint{
     display: inline;
     font-size: 20px;
 }

.cadre{
    width: 500px;
}


.raint{
    font-size: 20px;
    text-align: center;
}

  .perso1 {
    
    float: left;
    width: 200px;
    
    flex-basis: 30%;
  
    margin-top: 15px;
    padding: 15px;
  
    border-style: solid;
    border-color: rgb(240, 235, 235);
    border-width: 3px;
    width: 300px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 2px 2px 2px 3px inset;
    box-shadow: 0px 0px 10px 1px grey;
    margin: 60px;
  }

   .perso2 {
    
    float: left;
    width: 100px;
    
    
    flex-basis: 30%;
    
    margin-top: 15px;
    padding: 15px;
  
    border-style: solid;
    border-color: rgb(240, 235, 235);
    border-width: 3px;
    width: 300px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 2px 2px 2px 3px inset;
    box-shadow: 0px 0px 10px 1px grey;
    margin: 60px;
  }


   .perso3 {
    
    float: left;
    width: 200px;
    
    
    flex-basis: 30%;
  
    margin-top: 15px;
    padding: 15px;
  
    border-style: solid;
    border-color: rgb(240, 235, 235);
    border-width: 3px;
    width: 300px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 2px 2px 2px 3px inset;
    box-shadow: 0px 0px 10px 1px grey;
    margin: 60px;
  }



  .perso4 {
    
    float: left;
    width: 200px;
    
    flex-basis: 30%;
  
    margin-top: 15px;
    padding: 15px;
  
    border-style: solid;
    border-color: rgb(240, 235, 235);
    border-width: 3px;
    width: 300px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 2px 2px 2px 3px inset;
    box-shadow: 0px 0px 10px 1px grey;
    margin: 60px;
  }



  .perso5 {
    
    float: left;
    width: 100px;
    
    flex-basis: 30%;
  
    margin-top: 15px;
    padding: 15px;
  
    border-style: solid;
    border-color: rgb(240, 235, 235);
    border-width: 3px;
    width: 300px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 2px 2px 2px 3px inset;
    box-shadow: 0px 0px 10px 1px grey;
    margin: 60px;
  }




  .perso6 {
    
    float: left;
    width: 200px;
    
    
    flex-basis: 30%;
  
    margin-top: 15px;
    padding: 15px;
  
    border-style: solid;
    border-color: rgb(240, 235, 235);
    border-width: 3px;
    width: 300px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 2px 2px 2px 3px inset;
    box-shadow: 0px 0px 10px 1px grey;
    margin: 60px;
  }




  .tete{
    height: 120px;
    width: 120px;
    order: -1;
    margin: 1px;
    
  }


  .nom{
font-size: 27px;
text-align: left;
 }

 .descrimini{
     font-size: 18px;
     
 }